@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ClashDisplay-Regular';
  src: url('./fonts/ClashDisplay-Variable.ttf')  format('ttf');
  font-weight: normal;
  font-style: normal;
}